.like-btn
  - if Like.find_by(user_id: current_user.id, item_id: item.id)
    = link_to(item_like_path(@item, item.id), method: :delete, remote: true) do
      %li.optionalBtn.already
        = icon('fa', 'star')
        お気に入り済み
  -else 
    = link_to(item_likes_path(@item), method: :post, remote: true) do
      %li.optionalBtn.none
        = icon('fa', 'star')
        お気に入りにする
