.d_search_selecter
  %select.d_search_selecter_down
    %option{value: "すべて"} すべて
    %option{value: "レディース"} レディース
    %option{value: "メンズ"} メンズ
    %option{value: "ベビー・キッズ"} ベビー・キッズ
    %option{value: "本・音楽・ゲーム"} 本・音楽・ゲーム
    %option{value: "おもちゃ・ホビー・グッズ"} おもちゃ・ホビー・グッズ
    %option{value: "コスメ・香水・美容"} コスメ・香水・美容
    %option{value: "家電・スマホ・カメラ"} 家電・スマホ・カメラ
    %option{value: "スポーツ・レジャー"} スポーツ・レジャー
    %option{value: "ハンドメイド"} ハンドメイド
    %option{value: "自動車・オートバイ"} 自動車・オートバイ
    %option{value: "その他"} その他