.item_new_content
  .new-content
    .main-box
      .header
        = image_tag "logo/logo.png",size: "300x80"
      .sell
        = render partial: 'form'
      .n-footer
        .n-footer__logo
          = image_tag "logo/logo.png",size: "150x50"