.categorywindow {
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
  ul.title {
    li.title__list {
      a {
        line-height: 32px;
        padding-right: 30px;
        text-decoration: none;
        color: #333;
      }
      ul.category__list{
        display: none;
        position: absolute;
        top: 44px;
        z-index: 1;
        background-color: white;
        // box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        width: 224px;
        // left: -34px;
        // &:hover {
        //   display: block;
        // }
        .parents-list {
          width: 224px;
          .category__parent__name {
          }
          .children_list {
            background-color: rgb(255, 255, 255);
            bottom: 0px;
            // box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            display: none;
            left: 224px;
            position: absolute;
            top: 0px;
            width: 224px;
            .category__child-__name {
              line-height: 32px;
              padding-right: 30px;
              text-decoration: none;
              color: #333;
            }
          }
          .grand_children_list {
            background-color: rgb(255, 255, 255);
            bottom: 0px;
            // box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            display: none;
            left: 224px;
            position: absolute;
            top: 0px;
            width: 320px;
            .ategory__child__name {
              line-height: 32px;
              padding-right: 30px;
              text-decoration: none;
              color: #333;
            }
          }
        }
      }
      
    }
  }
}

// .categorywindow
//   %ul
//     %li
//       = link_to "/categories/", class: "category__search search__btn" do
//         カテゴリー
//       %ul.category__parent.category__list
//         - @parents.each do |parent|
//           %li
//             = link_to "#", class: "category__parent--name" do
//               = parent.name
//             %ul.category__child.category__list
//               - parent.children.each do |child|
//                 %li
//                   = link_to "#", class: "category__child--name" do
//                     = child.name
//                   %ul.category__grandchild.category__list
//                     - child.children.each do |grandchild|
//                       %li
//                         = link_to "#", class: " category__child--name" do
//                           = grandchild.name
















// %ul
//   %li
//     = link_to "/categories/", class: "category__search search__btn" do
//       カテゴリー
//     .category-list
//       .parents-list
//         - @parents.each do |parent|
//           = link_to "#", class: "category__parent--name" do
//             = parent.name
//       .children_list
//         -# - parent.children.each do |child|
//         -#   = link_to "#", class: "category__child--name" do
//         -#     = child.name
//       .grand_children_list
//         -# - child.children.each do |grandchild|
//         -#   = link_to "#", class: " category__child--name" do
//         -#     = grandchild.name
//       .brend-list
//         %ul.brend-pulldown
