.user_new_content{
  h2 {
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
  }
  .omniauth {
    width: 500px;
    height: 100%;
    margin: 20px auto 0;
    border-radius: 10px;
    border: 1px solid rgb(235, 232, 232);
    box-shadow: 0px 0px 20px #3CCACE inset;
    padding: 30px 0;
    &__facebook {
      margin: 0 20px 10px;
      a {
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 15px;
        display: block;
        text-decoration: none;
        background-color: #4169e1;
        border-radius: 10px;
      }
    }
    &__google {
      margin: 20px 20px 0;
      a {
        color: black;
        font-size: 20px;
        text-align: center;
        padding: 15px;
        display: block;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 10px;
      }
    }
    
  }
  .new-user {
    width: 500px;
    height: 100%;
    margin: 20px auto 0;
    border-radius: 10px;
    border: 1px solid rgb(235, 232, 232);
    box-shadow: 0px 0px 20px #3CCACE inset;
  }
  
  .content-inner {
    padding: 20px 40px;
  }
  
  .box-last_name {
    
  margin-bottom: 13px;
  float: left;
}

.box-first_name{
  margin-bottom: 13px;
  float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.box-last_name_kana{
  margin-bottom: 13px;
  float: left;
}

.box-first_name_kana{
  margin-bottom: 13px;
  float: right;
}

.box-nickname{
  margin-bottom: 13px;
}


.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 13px;
}

.box-password_confirmation{
  margin-bottom: 13px;
}

.box-birthday{
  margin-bottom: 13px;
}

.box-first_name_kana, .box-last_name_kana, .box-first_name, .box-last_name, .box-nickname label, .box-email label, .box-password label, .box-password_confirmation label, .box-birthday label, .box-image label{
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}


.box-email input[type="email"], .box-password input[type="password"], .box-last_name input[type="text"], .box-first_name input[type="text"], .box-last_name_kana input[type="text"], .box-first_name_kana input[type="text"], .box-password_confirmation input[type="password"]{
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  box-shadow: 1px gray;
  border-radius: 5px;
  padding: 0 10px;
}

.box-nickname input[type="text"], .box-birthday input[type="text"]{
  border-style: none;
  box-sizing: border-box;
  width: 50%;
  height: 30px;
  border: 1px solid gray;
  box-shadow: 1px gray;
  border-radius: 5px;
  padding: 0 10p
}

.actions {
  margin-top: 30px;
  margin-bottom: 30px;
  
  input[type="submit"] {
    border-style: none;
    width: 100%;
    height: 30px;
    background-color:#3CCACE;
    border-radius: 5px;
    border: 1px #3CCACE solid;
    
    &:hover {
      cursor: pointer;
      background: #3CCACE;
    }
  }
}

.box-nickname label{
  display: block;
  float: left;
  width: 50%;
}

.must {
  background: #FF1A00;
  color: #FFF;
	border-radius: 5px;
	font-size: 2px;
  margin-left: 10px;
	padding: 3px 3px;
  letter-spacing: 0.2em;
  float: right;
}
.box-image {
  input {
    display: none;
  }
}
.box-image__icon{
  background-color: #eeeeee;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.box-image__icon:hover {
border: solid 1px blue;
}
}

.new-acount-content, .login-acount-content{
  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: blue;
  }
}
.user_edit_content_toppage {
  margin-top: 10px;
  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: blue;
  }
}
